LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, 
but returns the greater if one or both numbers are odd
#lesser_of_two_evens(2,4) --> 2
#lesser_of_two_evens(2,5) --> 5

In [2]:
def myfunc(a,b):
    if (a%2==0) and (b%2==0):
        if (a<b):
            return a
        else:
            return b
    else:
        if (a>b):
            return a
        else:
            return b

In [3]:
myfunc(2,4)

2

In [4]:
myfunc(8,9)

9

ANIMAL CRACKERS: 
Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [7]:
def animal_crackers(a,b):
    for i in a: 
        for j in b:
            if i[0]==j[0]:
                return True
            else:
                return False

In [8]:
animal_crackers('Reema','Rishu')

True

In [9]:
animal_crackers('Reema','Jha')

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [22]:
def makes_twenty(a,b):
    if (a+b==20):
        return True
    elif (a==20 or b==20):
        return True
    else:
        return False

In [13]:
makes_twenty(20,40)

True

In [23]:
makes_twenty(3,4)

False

In [24]:
makes_twenty(16,4)

True

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [37]:
def old_macdonals(name):
    s=''
    if len(name)>3:
        for i in name: 
            s=name[:3].capitalize()+name[3:].capitalize()    
        return s

In [38]:
old_macdonals("reemajha")

'ReeMajha'

In [39]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [42]:
old_macdonald("reemajha")

'ReeMajha'

MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

"--".join(['a','b','c'])
'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

" ".join(['Hello','world'])
"Hello world"

In [48]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [49]:
master_yoda("i am reema")

'reema am i'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [58]:
def almost_there(n):
    return ((abs(100-n)<=10) or (abs(200-n)<=10))

In [59]:
def almost_there(n):
    if (100-n<=10) or (200-10<=10):
        return True
    else:
        return False

In [60]:
almost_there(90)

True

In [61]:
almost_there(190)

True

In [62]:
almost_there(180)

True

In [63]:
almost_there(-90)

False

In [64]:
def almost_there(n):
    return (100-n<=10) or (200-10<=10)

In [65]:
almost_there(90)

True

FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [77]:
my_list=eval(input("Enter the number of elements: "))

ls=[]
for i in range(0,my_list):
    print(f"Enter element number {i+1}: ")
    ele_ls=eval(input("Enter the number: "))
    ls.append(ele_ls)
print("The entered list is \n",ls)

Enter the number of elements: 5
Enter element number 1:
Enter the number: 1
Enter element number 2:
Enter the number: 3
Enter element number 3:
Enter the number: 3
Enter element number 4:
Enter the number: 4
Enter element number 5:
Enter the number: 5
The entered list is
 [1, 3, 3, 4, 5]

In [93]:
def has_33(num):
    for i in range(0, len(num)-1):
        if num[i]==3 and num[i+1]==3:
            return True
        else:
            return False

In [94]:
has_33(ls)

False

In [83]:
has_33([1,3,3])

False

In [89]:
def has_33(num):
    for i in range(0,len(num)-1):
        if (num[i:i+2]==[3,3]):
            return True
        else:
            pass
    else:
        return False

In [92]:
has_33([1,2,3])

False

In [91]:
has_33(ls)

True

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [95]:
def paper_doll(text):
    result=''
    for char in text:
        result += char*3
    return result

In [97]:
paper_doll("Hello")

'HHHeeellllllooo'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [100]:
def blackjack(a,b,c):
    if sum((a,b,c))<=21:
        return sum((a,b,c))
    elif sum((a,b,c))<=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [101]:
blackjack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [105]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [108]:
summer_69([1,3,5])

9

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False

In [111]:
my_list = eval(input("Enter the number of elements: "))
ls=[]

for i in range(0,my_list):
    print(f'Enter Element Number {i+1}')
    final_list = eval(input("Enter the element: "))
    ls.append(final_list)
print("The entered list is \n",ls)

def spy_game(num):
    
    code=[0,0,7,'x']
    
    for i in num:
        if i == code[0]:
            code.pop(0)
        else:
            pass
    return len(code) == 1

Enter the number of elements: 5
Enter Element Number 1
Enter the element: 1
Enter Element Number 2
Enter the element: 2
Enter Element Number 3
Enter the element: 0
Enter Element Number 4
Enter the element: 0
Enter Element Number 5
Enter the element: 7
The entered list is
 [1, 2, 0, 0, 7]

In [112]:
spy_game(ls)

True

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_prime(num):