In [1]:
print("Hello World")

Hello World

In [2]:
len ("Hello") #to check the length of the string

5

In [3]:
mystring="Hello World"

In [4]:
mystring

'Hello World'

In [5]:
mystring[0]

'H'

In [6]:
mystring[8]

'r'

In [7]:
mystring[-2]

'l'

In [ ]:
#Slicing

In [8]:
mystring='abcdefghijk'

In [9]:
mystring[2:]

'cdefghijk'

In [10]:
mystring[:3]

'abc'

In [11]:
mystring[3:7]

'defg'

In [12]:
mystring[1:3]

'bc'

In [13]:
#Stepsize

mystring[::2] #jumping the step size of 2

'acegik'

In [14]:
#Stepsize is useful to reverse a string 

mystring[::-1]

'kjihgfedcba'

# Immutability of Strings

In [16]:
str="Hello";
#str[0]='p';

In [24]:
last_letters=str[1:]

In [ ]:
##String Contatination

In [18]:
'P'+last_letters

'Pello'

In [22]:
x = "Hello World"
x = x + ", It's beautiful outside"

In [23]:
x

"Hello World, It's beautiful outside"

In [ ]:
##Multiple String Concatination at once

In [25]:
letter = "z"
letter * 10

'zzzzzzzzzz'

In [26]:
2+3 #data type = integer

5

In [27]:
'2'+'3' #data type = String

'23'

In [ ]:
##Methods

In [29]:
x = "Hello World"

In [30]:
x.upper()

'HELLO WORLD'

In [31]:
x.lower()

'hello world'

In [32]:
x.split() #split a string and will create a list

['Hello', 'World']

In [33]:
x="Hi This is a string"

In [34]:
x.split() #splitting on white spaces (by default)

['Hi', 'This', 'is', 'a', 'string']

In [36]:
x.split('i') #splitting on i

['H', ' Th', 's ', 's a str', 'ng']

In [37]:
##String Interpolation (stick a variable into a string)

In [40]:
print("This is a string{}".format(" INSERTED"))

This is a string INSERTED

In [42]:
print("The {2} {1} {0}".format("fox", "brown", "fast")) #we can assign the index to tell the order

The fast brown fox

In [43]:
print("The {0} {1} {0}".format("fox", "brown", "fast"))

The fox brown fox

In [44]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [45]:
##Float Formatting

In [46]:
result=100/777

In [47]:
result

0.1287001287001287

In [52]:
print("The result is {r:1.3f}".format(r=result)) #value:width.precision f

The result is 0.129

In [53]:
print("The result is {r:10.3f}".format(r=result))

The result is      0.129

In [54]:
##f-string

In [55]:
name="Reema"

In [57]:
print(f"Her name is {name}")

Her name is Reema

In [58]:
name="Reema"
age="23"

In [59]:
print(f'{name} is {age} years old.')

Reema is 23 years old.

In [ ]:
##Lists in Python

In [60]:
my_list=[1,2,3,4]

In [61]:
my_list2=[1,2.3,'Reema']

In [63]:
len(my_list2)

3

In [64]:
mylist=["one", "two", "three"]

In [65]:
mylist[0]

'one'

In [66]:
mylist[1:]

['two', 'three']

In [67]:
mylist2=["four", "five"]

In [73]:
mew_list = mylist + mylist2

In [74]:
mylist

['one', 'two', 'three']

In [76]:
mew_list

['one', 'two', 'three', 'four', 'five']

In [77]:
mew_list[0] = "ONE ALL CAPS"

In [81]:
mew_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [80]:
mew_list.append('six')

In [84]:
popped_item = mew_list.pop()

In [86]:
mew_list

['two', 'three', 'four']

In [85]:
mew_list.pop(0)

'ONE ALL CAPS'

In [88]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4,1,8,3]

In [92]:
#Sorting 

new_list.sort()

In [93]:
new_list

['a', 'b', 'c', 'e', 'x']

In [94]:
num_list.sort()

In [95]:
num_list

[1, 3, 4, 8]

In [96]:
num_list.reverse()

In [97]:
num_list

[8, 4, 3, 1]

In [98]:
##Dictionaries (cannot be sorted)

In [99]:
dict = {'Key1':'Value1', 'Key2':'Value2'}

In [100]:
dict['Key1']

'Value1'

In [101]:
price_lookup = {'apple':2.99, 'oranges':1.99, 'milk': 5.80}

In [102]:
price_lookup['apple']

2.99

In [105]:
d = {'k1':123, 'k2': [1,2,3,4], 'k3':{'insidekey':100}}

In [106]:
d['k2']

[1, 2, 3, 4]

In [108]:
d['k3']['insidekey']

100

In [109]:
d['k2'][2]

3

In [110]:
d = {'k1':100, 'k2':200}

In [112]:
d['k3']=300

In [113]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [114]:
len(d)

3

In [115]:
d['k1']=500

In [116]:
d

{'k1': 500, 'k2': 200, 'k3': 300}

In [117]:
d ={'k1': 100, 'k2': 200, 'k3': 300}

In [119]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [120]:
d.values()

dict_values([100, 200, 300])

In [121]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [122]:
##Tuples

In [123]:
t = (1,2,3)

In [124]:
list = [1,2,3]

In [126]:
type(t)

list

In [127]:
type(list)

list

In [128]:
t = ('one',2)

In [129]:
t[0]

'one'

In [130]:
t = ('a', 'a', 'b')

In [131]:
t.count('a') #will count how many time a is present in the tuple

2

In [132]:
t.index('a')

0

In [133]:
##TUPLES ARE IMMUTABLE (that's the difference between tuple and list)

In [134]:
t

('a', 'a', 'b')

In [137]:
list

['New', 2, 3]

In [136]:
list[0]='New'

In [138]:
t[0]='New' #This is the difference

TypeError: 'tuple' object does not support item assignment

In [139]:
#Sets are unordered collection of unique elements

In [140]:
myset = set()

In [141]:
myset.add(1)

In [142]:
myset

{1}

In [143]:
myset.add(2)

In [144]:
myset

{1, 2}

In [145]:
myset.add(2) #won't add 2 second time. 2 is already there in the set

In [146]:
myset

{1, 2}

In [147]:
mylist =[1,1,1,1,1,2,2,2,2,3,3,3,3]

In [148]:
set(mylist)

{1, 2, 3}

In [153]:
myfile = open('test.txt')

In [158]:
myfile.read()

'First Line\nSecond Line'

In [155]:
pwd

'/Users/reema/Desktop/Python'

In [156]:
ls

Untitled.ipynb  test.txt

In [159]:
myfile.read() #The curser is at the end of the line. That's why it did not read. We have to reset the cursor to zero

''

In [160]:
myfile.seek(0)

0

In [161]:
myfile.read()

'First Line\nSecond Line'

In [162]:
myfile.seek(0)

0

In [164]:
myfile.readlines()

['Second Line']

In [165]:
myfile.close()

In [168]:
with open ('test.txt') as myfile:
    contents=myfile.read()

In [169]:
contents

'First Line\nSecond Line'

In [170]:
%%writefile my_new_file.txt
One on first 
Two on second
Three on third

Writing my_new_file.txt

In [173]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

One on first
Two on second
Three on third

In [174]:
with open ('my_new_file.txt', mode='a') as f:
    f.write('Four on fourth')

In [175]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

One on first
Two on second
Three on third
Four on fourth

In [176]:
with open ('my_new_file.txt', mode='w') as f: 
    f.write('I created this file')

In [177]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

I created this file