In [1]:
2==2

True

In [2]:
2==1

False

In [3]:
'hello' == 'bye'

False

In [4]:
2.0 == 2

True

In [5]:
1 < 2 < 3

True

In [7]:
1 < 2 and 2 < 3

True

In [9]:
not 1==1

False

In [ ]:
##if-else Condition

In [10]:
if True:
    print("It's True!")

It's True!

In [12]:
if 3>2:
    print("It's True!")

It's True!

In [16]:
hungry = False

if hungry:
    print("Feed Me!")
else:
    print("I am good!")

I am good!

In [19]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool")
else: 
    print("I do not know much!")

Money is cool

In [20]:
name = 'Reema'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Samie':
    print("Hello Samie")
else: 
    print("Hello Reema!")

Hello Reema!

In [ ]:
##For Loops

In [21]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [22]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [27]:
for num in mylist:
    if num % 2 == 0: 
        print(f'Even number: {num}')
    else: 
        print(f'Odd number: {num}')

Odd number: 1
Even number: 2
Odd number: 3
Even number: 4
Odd number: 5
Even number: 6
Odd number: 7
Even number: 8
Odd number: 9
Even number: 10

In [30]:
list_sum = 0

for num in mylist:
    list_sum=list_sum+num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [31]:
mystring = "Hello World"

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [32]:
for num in 'Reema':
    print(num)

R
e
e
m
a

In [33]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [35]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

len(mylist)

4

In [36]:
for item in mylist: 
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [37]:
for (a,b) in mylist: ##Tuple Unpacking
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [38]:
for a,b in mylist:
    print(b)

2
4
6
8

In [39]:
mylist = [(1,2,3), (5,6,7), (8,9,10)]

for a,b,c in mylist:
    print(b)

2
6
9

In [42]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d.items(): 
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [43]:
for key,value in d.items(): 
    print(value)

1
2
3

In [44]:
for value in d.values(): 
    print(value)

1
2
3

In [45]:
##While Loops

In [49]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x+1
else: 
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

# break, continue, pass
break: breaks out of the current closest enclosing loop
continue: goes to the top of the current enclosing loop
pass: does nothing at all

In [50]:
x = [1,2,3]

for item in x: 
    pass

print('end of the script')

end of the script

In [52]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [53]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [54]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [57]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [58]:
mylist = [1,2,3]

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [59]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [60]:
for num in range(0,11,2): ##2 is the step size
    print(num)

0
2
4
6
8
10

In [62]:
list(range(0,11)) #Easy way to get a list (Generators)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
num = list(range(0,11,2))

In [65]:
num

[0, 2, 4, 6, 8, 10]

In [67]:
index_count = 0 

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [69]:
index = 0 

for letter in 'Reema':
    print(f'At index {index} the letter is {letter}')
    index+=1

At index 0 the letter is R
At index 1 the letter is e
At index 2 the letter is e
At index 3 the letter is m
At index 4 the letter is a

In [72]:
count = 0 
name = 'Reema'

for letter in name: 
    print(name[count])
    count+=1

R
e
e
m
a

In [73]:
count = 0 
name = 'Python'

for letter in name: 
    print(name[count])
    count+=1

P
y
t
h
o
n

In [74]:
word = 'abcde'

for item in enumerate(word):
    print(item) #we get tuples as output. Doing the index counting for us automatically

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [75]:
word = 'abcde'

for a,b in enumerate(word):
    print(a)
    print(b)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [76]:
##Zip Function

In [80]:
mylist1=[1,2,3,4,5]
mylist2=['a','b','c']
mylist3=[100,200,300,400]

for item in zip(mylist1,mylist2,mylist3):  #Zip will only consider the item will the even number, Ignored 400
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [82]:
list(zip(mylist1,mylist2,mylist3)) #ignore 400

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [ ]:
#IN Operator

In [83]:
'x' in [1,2,3]

False

In [84]:
'x' in ['x','y','z']

True

In [85]:
'a' in 'a world'

True

In [86]:
'mykey' in {'mykey':365}

True

In [87]:
d = {'mykey':365}

365 in d.values()

True

In [89]:
mylist = [10,20,30,40,50]

In [91]:
min(mylist)

10

In [92]:
max(mylist)

50

In [93]:
#Random Library

In [94]:
from random import shuffle #Random is a builtin library

In [97]:
mylist = [3,4,5,6,7,8,9,10]
shuffle(mylist) ##None Type

In [98]:
mylist #shuffled

[3, 7, 9, 4, 5, 8, 6, 10]

In [99]:
from random import randint

In [100]:
randint(0,100)

52

In [104]:
result = input('Enter a number here:') #input accepts anything entered into it as a string

Enter a number here:40

In [105]:
result

'40'

In [107]:
name = input('What is your name? ')

What is your name? Reema

In [108]:
int(result) #Now it is an integer

40

In [109]:
result = int(input('Enter a number here:'))

Enter a number here:60

In [110]:
result

60

In [111]:
#Comprehensions in Python

In [112]:
mystring = 'hello'

In [114]:
mylist=[]

for letter in mystring:
    mylist.append(letter)

In [115]:
mylist

['h', 'e', 'l', 'l', 'o']

In [116]:
mylist = [letter for letter in mystring] #same thing in one line

In [117]:
mylist

['h', 'e', 'l', 'l', 'o']

In [118]:
mylist = [x for x in 'word'] #element for element in

In [119]:
mylist

['w', 'o', 'r', 'd']

In [121]:
mylist = [x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [123]:
mylist = [num**2 for num in range(1,21)]
mylist

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [124]:
mylist = [x for x in range(1,11) if x%2==0] #to print only the even numbers
mylist

[2, 4, 6, 8, 10]

In [125]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [126]:
integers = [1,2,3,4,5]
result = [(100*num) for num in integers]
result

[100, 200, 300, 400, 500]

In [128]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [129]:
#Using if else inside a list comprehension

In [130]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [ ]:
##Nested Loops

In [131]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [132]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]] #list comprehension
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]